.admin-header {

}
.admin-header h2 {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.password {
    display: block;
    text-align: center;
}
.password button {
    margin-left: 10px;
}
.incorrect-password {
    color: red;
}
.admin-header h3 {
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}
.pending-events {
    text-align: center;
}