p {
  margin: 0;
}
.subtitle {
  font-size: 10px;
  color: #333333;
}
.create-event-header {
  display: block;
  width: 1000px;
  margin: 0 auto;
}
.create-event-header h2 {
  margin: 0 0 5px;
}
.create-event-body {
  width: 960px;
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forum-row-1, .forum-row-2, .forum-row-3, .forum-row-4 {
  display: inline-block;
  margin: 20px 0 10px;
  height: 100%;
}
.forum-col-1, .forum-col-2, .forum-col-3, .forum-col-date {
  float: left;
  width: 285px;
}
.forum-col-1 input, .forum-col-2 input, .forum-col-3 input {
  width: 285px;
  height: 25px;
  padding: 5px;
  font-size: 16px;
}
.forum-col-1, .forum-col-2 {
  margin-right: 46px;
}
.date-input {
  height: 28px;
  width: 285px;
  padding: 3px 0px 4px 10px;
}
.forum-row-2 textarea {
  width: 949px;
  height: 100px;
  text-align: top;
  resize: none;
  padding: 5px;
  font-size: 14px;
}
.required {
  color: red;
  font-weight: bold;
}
.required-desc1 {
  color: red;
  font-weight: bold;
}
.required-desc2 {
  color: red;
  font-size: 14px;
}
.header-span {
  font-size: 26px;
}
.forum-row-4 {
  width: 960px;
}
.forum-row-4 button {
  float: right;
}
.forum-row-4 input {
  margin-top: 5px;
}
/* --------------------------- */
.confirm-event {
  margin-top: 20px;
}
.confirm-event p {
  margin-bottom: 10px;
}
.confirm-event img {
  width: 500px;
}
.confirm-event button {
  margin: 20px 20px 0 0;
}
.confirm-category {
  font-weight: bold;
  color: #333333;
}
.confirm-field {
  margin-bottom: 10px;
}