.header {
    margin: 0;
    /* background-color: #ededed; */
    /* background-color: #a1c4fd; */
    /* background-color: #9498; */
    /* background-color: #990000; */
    /* background-color: #4d0000; */
    width: 100%;
    background-color: #32b8b8;
}
.header-components {
    width: 1000px;
    height: 65px;
    margin: 0 auto;
    background-color: #32b8b8;
}
.header a {
    text-decoration: none;
}
.header h1 {
    display: inline-block;
    color: white;
    font-weight: 500;
    margin: 0;
    margin-right: 0px;
}
.header-components h2, .header-components h3 {
    margin: 0;
    color: white;
    font-weight: 300;
}
.header-components h3:hover {
    cursor: pointer;
}
.header-components h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.header-item1, .header-item2, .searchbar {
    display: inline-block;
    padding-bottom: 10px;
    height: 31px;
    vertical-align: middle;
}
.header-item1 {
    margin-left: 33px;
}
.header-item2 {
    margin-left: 33px;
}
.searchbar {
    margin-left: 55px;
    margin-bottom: 10px;
}
.searchbar input {
    height: 21px;
    width: 175px;
    vertical-align: top;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
    /* background-color: gainsboro; */
    background-color: white;
    color: black;
    padding-top: 7px;
    font-size: 12px;
    margin-left: -30px;
    /* border-top: 2px solid #220a37;
    border-left: 2px solid #44146f;
    border-bottom: 2px solid #7647a2; */
}
.searchbar input:focus {
    outline: none;
}
.search-button {
    display: inline-block;
    background-color: gray;
    width: 28px;
    height: 29px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    padding: 4px 0 0 5px;
}
.search-button:hover {
    cursor: pointer;
    background-color: #606060;
}
.header-item-city {
    display: inline-block;
    margin: 0 20px;
    width: 120px;
    vertical-align: middle;
    font-size: 12px;
}
.student-act {
    font-size: 50px;
}
.header-city-dropdown {
    list-style-type: none;
    padding: 5px;
    background-color: #299494;
    /* background-color: darkgray; */
    position: absolute; 
    left: calc((100vw - 1000px)/2 + 313px);
    height: auto;
    width: auto;
    z-index: 1;
}
.header-city-dropdown li {
    /* color:black; */
    color: white;
}
.header-city-dropdown li:hover {
    /* color:black */
    color: #333333;
    /* color:white; */
    cursor: pointer;
}
.visible {
    visibility: visible;
    top: 49px;
    animation: goDown .75s 1;
}
.hidden {
    visibility: hidden;
}
.almostHidden {
    animation: goUp .75s 1;
}
@keyframes goDown {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        top: 49px;
        opacity: 1;
    }
}
@keyframes goUp {
    0% {
        top: 49px;
        opacity: 1;
    }
    100% {
        top: -10px;
        opacity: 0;
    }
}
.header-city-dropdown-button {
    display:inline-block;
    width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
    border-bottom: 12px solid white;
    margin-left: 13px;
    /* position: absolute;
    left: calc((100vw - 1000px)/2 + 475px); */
}
.first-up {
    top: 35px;
    -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     transform: rotate(-90deg);
     /* animation: turnUp .5s 1; */
}
.up {
    top: 35px;
    -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     transform: rotate(-90deg);
     animation: turnUp .5s 1;
}
.down {
    top: 39px;
    -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
     -ms-transform: rotate(-180deg);
     transform: rotate(-180deg); 
     animation: turnDown .5s 1;
}
    
@keyframes turnDown {
    0% {
        top: 35px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    100% {
        top: 39px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes turnUp {
    0% {
        top: 39px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        top: 35px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}
.header-city-dropdown-button:hover {
    cursor: pointer;
}
.launch-message {
    background-color: #f8f8f8;
    border: 3px solid #c8c8c8;
    position: absolute;
    top: 78px;
    border-radius: 4px;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Kalam', cursive; */
    font-family: 'Caveat Brush', cursive;
    
    width: 130px;
    text-align: center;
    padding: 10px 20px;
    animation: bob 1s infinite;
}
  .launch-message .arrow {
    border-style: solid;
    position: absolute;
}
 
.bottom {
    border-color: transparent transparent #c8c8c8 transparent;
    border-width: 0px 11px 11px 11px;
    top: -11px;
    right: 10px;
}
.bottom:after {
    border-color:transparent transparent #f8f8f8 transparent;
    border-style: solid;
    border-width: 0px 7px 7px 7px;
    top: 4px;
    content: "";
    position: absolute;
    left: -7px;
}

@keyframes bob {
    0% {
        top: 78px;
    }
    50% {
        top: 83px;
    }
    100% {
        top: 78px;
    }
}
@media all and (max-width: 1000px) {
    .launch-message {
        left: 336px;
    }
}
@media all and (min-width: 1001px) {
    .launch-message {
        left: calc((100vw - 1000px)/2 + 330px);
    }
}