.event-box {
  margin: 10px 0;
  display: block;
  width: 740px;
  height: 130px;
  border: 1px solid black;
  padding: 10px;
}
.event-box-image {
  float: left;
  height: 128px;
  width: 128px;
  border: 1px solid black;
  
}
.test {
  object-fit: cover;
  height: 128px;
  width: 128px;
}